@media (max-width: 768px) {

    .busquedasSection {

        .noBusquedasFlex {

            .noBusquedas {

                width: 21rem;

    
                p {
                    font-size: 1rem;

                }
            }
        }

        .busquedasItems {
            grid-template-columns: 1fr;
            justify-items: center;

            .cardBusqueda  {
                .cardBody {

                    .cardTitle {
                        font-size: 1.4rem;
                    }
                    .buttonCard {
                        left: 0.85rem;
                    }
                }
            }

        }

        .busquedasTexts {
            text-align: center;
        }
    }
}