@media (max-width: 768px) {

    .busquedaDetalleSection {

        .titleBusquedasDetalle {
            text-align: center;
        }

        .itemsCont {
            text-align: center;

        }

        .buttonBusquedaDetalle {

            width: 100%;
        }

        .buttonBusquedaDetalle:hover {
            background-color: #992244;
        }
    }

}