@media (max-width: 768px) {
    .contactoSection {
        
        .row {


            .form {
                margin-left: 0rem;
            }

            .contactoCv {
                margin-top: 3.5rem;
                

                .contactoCvIcon {
                    font-size: 3rem;
                }

                .titleContactoCv {
                    font-size: 1.3rem;
                }
            }
        }


    }
}