@media (max-width: 768px) {
    .contactoSection {
        
        .row {

            
            .form {

                .titleDiv {
                    padding-bottom: 1.5rem;
                }
                padding-left: 3rem;
            }

            .contactoCv {
                margin-top: 3.5rem;
                

                .contactoCvIcon {
                    font-size: 3rem;
                }

                .titleContactoCv {
                    font-size: 1.3rem;
                }
            }
        }


    }
}