@media (max-width: 768px) {
    .footer {

        .row {

            .mailSection {

                margin: 2rem 0;
            }

            .navbarFooter {

                margin: 0.5rem 0;

            }

            .logoSection {
                .logo {
                    width: 8rem;
                }

                h3 {
                    text-align: center;
                    padding-bottom: 0.3rem
                }
            }



        }

    }
}