@media (max-width: 768px) {
    .mainHome {
        .imgDiv {

            .textImgDiv {
                .textLetter {
                    font-size: 1.6rem;
                }
            }

        }

        .homeProcess {
    
            .firstRow {
                display: grid;
                grid-template-columns: 1fr;
                gap: 3rem;
            }
    
            
            }
        }
    }