.busquedasSection {

    margin-bottom: 2rem;

    .busquedasTexts {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 4rem;

        p {
            .talentWord {
                color: $color-first;
                text-shadow: 7px 4px 2px rgba(223, 43, 91, 0.347);

            }
        }
    }



    .titleBusquedas {
        color: $color-first;
    }

    .line {
        border-bottom: 1px solid rgb(117, 113, 113);
        margin: 2rem 0;
    }

    .busquedasItems {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2rem;

        .cardBusqueda {
            border: 2px inset #970f35;
            box-shadow: 8px 8px 8px 0px rgba(112, 19, 45, 0.75);
            width: 18rem;
            transition: all 0.2s ease;

            &:hover {   
                transform: translateY(-5px);
            }

            .cardBody {

                display: flex;
                flex-direction: column;


                .cardTitle {
                    font-weight: bold;
                    text-align: center;
                    font-size: 1.5rem;
                }

                .cardText {
                    font-size: 1.2rem;
                    margin-bottom: 2.7rem;
                    margin-top: 0.4rem;
                }

                .buttonCard {
                    border-radius: 10px 10px 10px 10px;
                    padding: 8px;
                    background-color: $color-second ;
                    border: 1px solid $color-second ;
                    color: white;
                    font-weight: bold;
                    transition: all 0.3s ease;
                    position: absolute;
                    bottom: 0;
                    left: 5.3rem;
                    margin: 0.4rem 0;

                    &:hover {
                        background-color: #992244;
                    }
                }
            }
        }
    }
}

.spinnerBusqueda {
    margin: auto;
    margin-top: 10rem;
}