.contactoSection {

    margin-bottom: 5rem;

    .titleContacto {
        color: $color-first;
    }

    .line {
        border-bottom: 1px solid rgb(117, 113, 113);
        margin: 2rem 0;
    }

    .row {


        .form {
            display: flex;
            flex-direction: column;
            gap: 2rem;

            .titleDiv {
                display: flex;
                align-items: center;
                gap: 1rem;

                .contactIcon {
                    font-size: 1.4rem;
                    color: $color-second;
                }

                .titleContact {
                    font-size: 1.4rem;
                    margin: 0;
                    font-weight: bold;

                }
            }

            .formDiv {
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 0.5rem;

                label {
                    font-weight: bold;
                    font-size: 1.1rem;
                }

                input {
                    height: 2rem;
                    padding: 0.2rem;
                    border: 1px solid #ccc;
                    width: 80%;
                    border-radius: 4px;
                    font-weight: bold;
                }

                textarea {
                    border: 1px solid #ccc;
                    width: 80%;
                    height: 18rem;
                    resize: none;
                }
            }

            .buttonContacto {
                border-radius: 10px 10px 10px 10px;
                padding: 10px;
                background-color: $color-second;
                border: 1px solid $color-second;
                width: 80%;
                color: white;
                transition: all 0.3s ease;
            }

            .buttonContacto:hover {
                background-color: #bd395d;
            }
        }

        .contactoCv {
            display: flex;
            flex-direction: column;
            gap: 2rem;

            .mailTextContacto {

                display: flex;
                gap: 1rem;

                .contactoCvIcon {
                    font-size: 1.5rem;
                    color: $color-second;
                }

                .titleContactoCv {
                    font-size: 1.4rem;
                }
            }

            .mailTextRedes {
                display: flex;
                gap: 1rem;

                .contactoRedesIcon {
                    font-size: 1.3rem;
                    color: $color-second;
                    margin-top: 0.3rem;
                }
            }

            .redesContacto {

                display: flex;
                flex-direction: column;
                gap: 1.5rem;

                div {

                    p {
                        font-size: 1.35rem;
                    }

                    a {
                    .linkedinLogo {
                        color: $color-second;
                        font-size: 2.2rem;
                        transition: all 0.3s ease;
                    }

                    .linkedinLogo:hover {
                        color: #ee4572;
                    }
                }
                }

                
            }


        }
    }

}