.quienesSomosMain {

    padding-bottom: 4.5rem;

    .titleQuienes {
        color: $color-first;
    }

    .line {
        border-bottom: 1px solid rgb(117, 113, 113);
        margin: 2rem 0;
    }

    .paragraphs {
        article {
            .arrowText {
                color: $color-second;
            }

            p {
                .wordQuienes {
                    color: $color-first;
                }
            }
        }




    }
}