.quienesSomosMain {

    .titleQuienes {
        color: $color-first;
    }

    .line {
        border-bottom: 1px solid rgb(117, 113, 113);
        margin: 2rem 0;
        
    }

    .graficosQuienesSomos {
        display: flex;
        margin-top: 6rem;
        gap: 3rem;

        .graficoArticle {

            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;
            
            .iconoGrafico {
                width: 6.25rem;
            }
    
            .tituloGrafico {
                text-align: center;   
                font-weight: bold;
                max-width: 90%;
            }
    
            .descGrafico {
                text-align: center;
                max-width: 90%;
            }
        }

        
    }
}