.serviciosSection {


    .titleServicios {
        color: $color-first;
    }

    .line {
        border-bottom: 1px solid rgb(117, 113, 113);
        margin: 2rem 0;
    }

    .services {
        article {
            .subTitleDiv {
                span {
                    .servicesIcon {
                        color: $color-second;
                    }
                }
            }

            .selectionDiv {

                div {
                    p {
                        .selectionWord {
                            color: $color-first;
                        }
                    }

                }


            }
        }
    }
}