.serviciosSection {


    .titleServicios {
        color: $color-first;
    }

    .line {
        border-bottom: 1px solid rgb(117, 113, 113);
        margin: 2rem 0;
    }

    .services {
        article {
            .subTitleDiv {
                span {
                    .servicesIcon {
                        color: $color-second;
                    }
                }

                .imgSeleccion {
                    min-width: 100%;
                    height: 23rem;
                    background-image: url("/src/assets/images/seleccion.png");
                    background-size: cover;
                    
                    background-position: center;
                    margin-bottom: 2rem;

                    .titleSeleccion {
                        color: white;
                        margin-left: 6rem;
                        padding-top: 4rem;
                        font-weight: bold;
                    }
                }
            }


            .selectionDiv {

                max-width: 80%;
                padding: 4rem 0;
                display: grid;
                grid-template-columns: 1fr 1fr;
                
                gap: 2rem;
                margin-left: 9rem;
                
                

                div {
                    border-top: 2px solid $color-first;
                    box-shadow: 0 0 33px -10px #7fafca;
                    border-radius: 12px;
                    width: 30rem;
                    height: 11rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    
                    


                    p {

                        padding: 2rem;
                        text-align: center;

                        .selectionWord {
                            color: $color-first;
                        }
                    }


                    /* .p1 {
                        word-spacing: 1px;
                    }

                    .p2 {
                        word-spacing: 2px;
                    }

                    .p3 {
                        word-spacing: 2.3px;
                    }

                    .p4 {
                        word-spacing: 3.2px;
                    } */
                }


            }
        }
    }

    .imgExamenes {
        min-width: 100%;
        height: 23rem;
        background-image: url("/src/assets/images/examenes.png");
        background-size: cover;
        background-position: center;
        margin-top: 2rem;
        margin-bottom: 0.3rem;

        .examenesTitle {
            color: white;
            font-weight: bold;
            margin-left: 6rem;
            padding-top: 4rem;
        }
    }
}