.serviciosSection {


    .titleServicios {
        color: $color-first;
    }

    .line {
        border-bottom: 1px solid rgb(117, 113, 113);
        margin: 2rem 0;
    }

    .services {
        article {
            .subTitleDiv {
                span {
                    .servicesIcon {
                        color: $color-second;
                    }
                }
            }

            .selectionDiv {

                div {

                    p {


                        .selectionWord {
                            color: $color-first;
                        }
                    }


                    .p1 {
                        word-spacing: 1px;
                    }

                    .p2 {
                        word-spacing: 2px;
                    }

                    .p3 {
                        word-spacing: 2.3px;
                    }

                    .p4 {
                        word-spacing: 3.2px;
                    }
                }


            }
        }
    }
}